@font-face {
  font-family: basic;
  src: url("Basiic.ttf");
}
body{
	font-family: basic;
	background: url("https://64.media.tumblr.com/45baec53191971ec08c830217b64a3f0/tumblr_inline_mqga2vERGM1qz4rgp.gif");
}
header {
	border: 3px double white;
	border-radius: 25px;
	width: 1000px;
	margin: auto;
	background-color: LightSkyBlue;
	text-align: center;
	box-sizing: border-box;

}

.topbar p {
	text-align: center;
	 font-weight: bold;
}

.topbar {
	box-sizing: border-box;
	 justify-content: space-around;
	display: flex;
	flex-direction: row;
  border: 3px double white;
	border-radius: 25px;
	width: 1000px;
	margin: auto;
	background-color: LightCyan;
	margin-top: 10px;
	 position: sticky;
}
.content {
	box-sizing: border-box;
	padding: 20px;
	width: 1000px;
	margin:  auto;
	background-color: LightCyan;
	border: 3px double white;
	border-radius: 25px;
	margin-top: 10px;
}

.button {

	background-color: LightSkyBlue;
	border-radius: 25px;
	width: 160px;
	box-sizing: border-box;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	 box-shadow: 5px 5px 5px DeepSkyBlue;
	 margin: auto;


}
.box{
	width: 950px;
}